<div class="span11">
  <% if can? :attend, jam %>
    <%= render 'jams_users/attend', :jam => jam %>
  <% elsif can? :decline, jam %>
    <%= render 'jams_users/cancel', :jam => jam %>
  <% else %>
    Registration for this jam is currently closed or full
  <% end %>
</div>
