<h3><%= list_name %></h3>

<% jams.each do |jam| %>


<% end %> 

<table class="table table-striped">
<% jams.sort_by{|j| j.date}.reverse.each do |jam| %>
  <tr><td>
      <%= render 'jam', :jam => jam %>
  </tr></td>
<% end %>
</table>

