<h2><%= list_name %></h2>

<% jams.each do |jam| %>


<% end %> 

<table class="table table-striped">
<% jams.each do |jam| %>
  <tr><td>
      <%= render 'jam', :jam => jam %>
  </tr></td>
<% end %>
</table>

